<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.pan.dao.pan.PanUserMapper" >
  <resultMap id="BaseResultMap" type="com.ai.pan.model.pan.UserBean" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userID" jdbcType="BIGINT" />
    <result column="res_uid" property="resUID" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
   <!-- 插入一行记录 -->
  <insert id="insert" parameterType="com.ai.pan.model.pan.UserBean"  useGeneratedKeys="true" keyProperty="id">
    insert into pan_user ( user_id,res_uid,url,yn,created)
    values (#{userID,jdbcType=BIGINT}, #{resUID,jdbcType=VARCHAR},
     #{url,jdbcType=VARCHAR},  #{yn,jdbcType=INTEGER},now())
  </insert>
  
</mapper>